/*DEBUT DU RESPONSIVE DESIGN*/

/*RESOLUTION POUR MOBILE TOUTES PAGES*/



@media all and (min-width: 320px) and (max-width: 425px)
{

/*DEBUT PAGE D'ACCUEIL*/

	body
	{
		overflow-x: hidden;
		font-size: 3.2vw;
	}

	header
	{
		margin-left: 5%;
	}

	.flex
	{
		display: none;
	}

	header figure
	{
		display: none;
	}

	header figure img
	{
		display: none;
	}

	.nav_content
	{
		font-size: 3.7vw;
		margin-top: 15px;
		margin-bottom: 0px;
		margin-left: 0;
		width: 100%;
		height: 35px;
	}

	.nav_content li
	{
		margin-top: 4px;
	}

	.slider
	{
		display: none;
	}

	#informations
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 10px;
	}

	.titre_info
	{
		font-size: 4.5vw;
	}

	.actu_info
	{
		width: 100%;
		margin-left: 1.7%;
		margin-bottom: 5px;
	}

	.doc_info
	{
		width: 100%;
		margin-left: 1.7%;
		margin-bottom: 5px;
	}

	.fiche_info
	{
		width: 100%;
		margin-left: 1.7%;
	}

	.info_liseret
	{
		width: 40%;
		margin-bottom: 5px;
	}

	#contact
	{
		margin-top: 10px;
	}

/*FIN PAGE D'ACCUEIL*/

/*DEBUT PAGE QUI SOMMES NOUS*/

	#a_propos
	{
		margin-top: 15px;
	}

	.liseret
	{
		width: 40%;
		margin-bottom: 10px;
	}

	.texte_propos
	{
		margin-left: 7.5%;
		margin-bottom: 10px;
	}

	.sous_titre
	{
		margin-left: 7.5%;
	}

	#a_propos figure
	{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	#a_propos figure img
	{
		width: 35%;
		height: 80px;
	}

/*FIN PAGE QUI SOMMES NOUS*/

/*DEBUT PAGE NOS ACTIONS*/

	#service
	{
		margin-top: 20px;
	}

	.service_titre
	{
		margin-left: 7.5%;
	}

	.service_liseret
	{
		width: 50%;
		margin-left: 7.5%;
		margin-bottom: 10px;
	}

	.service_texte
	{
		margin-bottom: 15px;
		margin-left: 12.5%;
	}

	.sous_nav_content
	{
		width: 60%;
		height: 40px;
		margin-left: 21.5%;
		margin-bottom: 20px;
		font-size: 3.45vw;
	}

	.sous_nav_content li
	{
		margin-top: 9px;
	}

	#service figure
	{
		text-align: center;
		width: 100%;
	}

	#service figure img
	{
		margin-left: 0;
		width: 80%
	}

/*FIN PAGES NOS ACTIONS*/

/*DEBUT PAGE ENFANT*/

	#info_enfant
	{
		margin-top: 10px;
	}

	.sous_titre_enfant_liseret
	{
		width: 52%;
	}

/*FIN PAGE ENFANT*/

/*DEBUT PAGE ADULTE*/

	#info_adulte
	{
		margin-top: 10px;
	}

	.sous_titre_adulte_liseret
	{
		width: 85%;
	}

/*FIN PAGE ADULTE*/

/*DEBUT PAGE SOCIAL/LUDIQUE*/

	#info_ludique
	{
		margin-top: 10px;
	}

	.sous_titre_ludique_liseret
	{
		width: 40%;
	}

	#info_ludique img
	{
		width: 75%;
		margin-left: 12.5%;
		margin-top: 20px;
	}

/*FIN PAGE SOCIAL/LUDIQUE*/

/*DEBUT PAGE GALERIE*/

	#galerie_image
	{
		margin-top: 15px;
	}

	#galerie_image img
	{
		border-radius: 5px;
	}

/*FIN PAGE GALERIE*/

/*DEBUT PAGE CONTACT*/

	#formulaire_contact
	{
		margin-top: 15px;
	}

	.liseret_contact
	{
		width: 50%;
	}

	.sous_liseret_contact
	{
		width: 7%;
	}

	.form_contact .fa-facebook-square
	{
		font-size: 2.5em;
	}

	form
	{
		width: 50%;
		opacity: 0.8;
	}

/*FIN PAGE CONTACT*/

}
/*FIN DE RESOLUTION POUR MOBILE TOUTE PAGES*/


/*RESOLUTION POUR TABLETTES TOUTES PAGES*/

/*DEBUT PAGE D'ACCUEIL*/

	