/*REGLAGES GENERAL DU SITE*/

*
{
	margin: 0;
	padding: 0;
	box-sizing:border-box
}

body
{
	overflow-x: hidden;
	font-family: 'dinl';
	margin: 0;
	color: #39729B;
}

@font-face
{
	font-family: 'dinl';
	src: url('./font/dinl.ttf') format('truetype');
}

.fa-facebook-square
{
	font-size: 3em;
	color: #3B5998;
}

li
{
	list-style: none;
}

h2, h3
{
	color: #000;
}


/*DEBUT DU CODE DU SITE DU CASA*/


header
{
	display: flex;
	flex-direction: row;
	margin-left: 6.5%;
}

.texte_header
{
	font-size: 1.5em;
}

header figure
{
	width: 30%;
	margin-left: 40%;
	margin-top: 7px;
}

audio
{
	margin-top: 20px;
}

/*MENU DE NAVIGATION*/


.nav_content
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 1.2em;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 90%;
	height: 50px;
	margin-left: 5%;
	border-radius: 50px; 
	border: 2px solid #6EA4CA;
}

.nav_content li
{
	margin-top: 10px;
}

a
{
	text-decoration: none;
}
 
/*FIN DU MENU DE NAVIGATION*/


/*ANIMATION DU SLIDESHOW*/

/* Slideshow container */

.slider 
{
	width: 100%;
	text-align: center;
	overflow: hidden;
	margin: auto;
	object-fit: fill;
}

.slideshow_container 
{
  	position: relative;
  	margin: auto;
}

.slideshow_container img
{
	width: 85%;
	object-fit: cover;
	height: 550px;
	border-radius: 5px;
}

/* Hide the images by default */

.mySlides 
{
    display: none;
}

/* Fading animation */

.fade 
{
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
}

@-webkit-keyframes fade 
{
  	from {opacity: .4} 
  	to {opacity: 1}
}

@keyframes fade 
{
  	from {opacity: .4} 
  	to {opacity: 1}
}

/*FIN ANIMATION SLIDESHOW*/


/*PLACEMENT ET INFORMATIONS DU CASA*/

#informations
{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.info_liseret
{
	width: 250px;
 	border: 0.5px solid #39729B;
 	margin-bottom: 10px;
}

.actu_info
{
	width: 30%;
	margin-left: 5%;
}

.doc_info
{
	width: 30%;
	margin-left: 5%;
}

.fiche_info
{
	width: 30%;
	margin-left: 5%;
	margin-bottom: 10px;
}

#contact
{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	border-top: 3px solid #0C3C60;
}

.info_contact
{
	width: 50%;
	text-align: center;
}

.horaires
{
	width: 50%;
	text-align: center;
}


/*FIN INFORMATIONS DU CASA*/


/*PAGE QUI SOMMES NOUS*/

.titre_propos
{
	text-transform: uppercase;
	margin-left: 5%;
}

.texte_propos
{
	margin-bottom: 20px;
	margin-left: 10%;
}

.sous_titre
{
	margin-left: 10%;
}

#a_propos img
{
	margin-left: 5%;
}

.liseret
{
	width: 70%;
	margin-left: 5%;
	margin-bottom: 20px;
	border: 0.5px solid #6EA4CA;
}

/*FIN DE PAGE QUI SOMMES NOUS*/


/* PAGE NOS ACTIONS*/

.service_titre
{
	text-transform: uppercase;
	margin-left: 10%;
}

.service_liseret
{
	width: 70%;
	margin-left: 10%;
	margin-bottom: 20px;
	border: 0.5px solid #6EA4CA;
}

.service_texte
{
	margin-bottom: 30px;
	margin-left: 15%;
}

#service img
{
	margin-left: 20%;
	width: 60%
}

/*FIN DE PAGE NOS ACTIONS*/


/*PAGE NOS ACTIONS : ADULTE*/

#info_adulte
{
	margin-top: 50px;
}

.adulte_titre
{
	text-transform: uppercase;
	margin-left: 5%;
}

.adulte_liseret
{
	width: 70%;
	margin-left: 5%;
	border: 0.5px solid #6EA4CA;
}

.sous_titre_adulte_liseret
{
	width: 30%;
	margin-left: 7.5%;
	border: 0.5px solid #6EA4CA;
}

.sous_titre_adulte
{
	margin-left: 7.5%;
	margin-top: 15px;
}

.contenu_adulte
{
	margin-left: 7.5%;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #000;
}

.adulte_texte
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 7.5%;
}

#info_adulte ul
{
	margin-left: 12%;
}

/*FIN PAGE NOS ACTIONS : ADULTE*/


/*PAGE NOS ACTIONS : ENFANT*/

.titre_enfant
{
	text-transform: uppercase;
	margin-left: 5%;
}

.enfant_liseret
{
	width: 70%;
	margin-left: 5%;
	border: 0.5px solid #6EA4CA;
}

.sous_titre_enfant
{
	margin-left: 7.5%;
	margin-top: 15px;
}

.sous_titre_enfant_liseret
{
	width: 19%;
	margin-left: 7.5%;
	border: 0.5px solid #6EA4CA;
}

.texte_enfant
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 7.5%;
}

#info_enfant ul
{
	margin-left: 12%;
}

/*FIN PAGE NOS ACTIONS : ENFANT*/


/*PAGE NOS ACTIONS : LUDIQUE*/

.titre_ludique
{
	text-transform: uppercase;
	margin-left: 5%;
}

.ludique_liseret
{
	width: 70%;
	margin-left: 5%;
	border: 0.5px solid #6EA4CA;
}

.sous_titre_ludique
{
	margin-left: 7.5%;
	margin-top: 15px;
}

.sous_titre_ludique_liseret
{
	width: 13%;
	margin-left: 7.5%;
	border: 0.5px solid #6EA4CA;
}

.texte_ludique
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 7.5%;
}

#info_ludique ul
{
	margin-left: 12%;
}

#info_ludique img
{
	margin-top: 40px;
	margin-left: 10%;
}

/*FIN PAGE NOS ACTIONS : LUDIQUE*/


/*GALERIE D'IMAGE*/

#galerie_image 
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

#galerie_image img
{
	width: 30%;
}

/*FIN DU CODE POUR LES IMAGES*/


/*FORMULAIRE DE CONTACT*/

.titre_contact
{
	margin-left: 5%;
	text-transform: uppercase;
}

.liseret_contact
{
	width: 70%;
	margin-left: 5%;
	border: 0.5px solid #6EA4CA;
}

.texte_contact
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 7.5%;
}

.sous_liseret_contact
{
	width: 3.3%;
	margin-left: 7.5%;
	margin-top: 5px;
	border: 0.5px solid #6EA4CA;
}

.facebook_icone
{
	margin-left: 7.5%;
	margin-top: 5px;
}

.form_contact .fa-facebook-square
{
	font-size: 1.5em
}

form
{
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-left: 7.5%;
	margin-top: 5px;
}

input
{
	margin-top: 5px;
	padding-left: 5px;
	border-radius: 3px;
}

textarea
{
	margin-top: 5px;
	padding-left: 5px;
}

iframe
{
	width: 950px;
	height: 550px;
	border: none;
	margin-left: 2.5%;
	margin-top: 50px;
}

/*FIN DU FORMULAIRE DE CONTACT*/