/*REGLAGES GENERAL DU SITE*/

*
{
	margin: 0;
	padding: 0;
}

body
{
	overflow-x: hidden;
	font-family: 'dinl';
	margin: 0;
	color: #39729B;
}

@font-face
{
	font-family: 'dinl';
	src: url('./font/dinl.ttf') format('truetype');
}

.fa-facebook-square
{
	font-size: 3em;
	color: #3B5998;
}

li
{
	list-style: none;
}

h2, h3
{
	color: #000;
}


/*DEBUT DU CODE DU SITE DU CASA*/


header
{
	display: flex;
	flex-direction: row;
	margin-left: 6.5%;
}

header figure
{
	width: 30%;
	margin-left: 40%;
	margin-top: 7px;
}

audio
{
	margin-top: 20px;
}


/*MENU DE NAVIGATION*/


.nav_content
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	font-size: 1.2em;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

a
{
	text-decoration: none;
}


/*Définition des propriétés des images*/

/*.slider_img
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.slider_img img
{
	width: 70%;
	height: 550px;
	border-radius: 5px;
}*/

* {box-sizing:border-box}

/* Slideshow container */

.slider 
{
	width: 100%;
	text-align: center;
	overflow: hidden;
	margin: auto;
	object-fit: fill;
}

.slideshow_container 
{
  	position: relative;
  	margin: auto;
}

.slideshow_container img
{
	width: 75%;
	object-fit: cover;
	height: 530px;
	border-radius: 5px;
}

/* Hide the images by default */
.mySlides 
{
    display: none;
}

/* Fading animation */
.fade 
{
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
}

@-webkit-keyframes fade 
{
  	from {opacity: .4} 
  	to {opacity: 1}
}

@keyframes fade 
{
  	from {opacity: .4} 
  	to {opacity: 1}
}


/*PLACEMENT ET INFORMATIONS DU CASA*/


#informations
{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.info_liseret
{
	width: 250px;
 	border: 0.5px solid #39729B;
 	margin-bottom: 10px;
}

.actu_info
{
	width: 30%;
	margin-left: 5%;
}

.doc_info
{
	width: 30%;
	margin-left: 5%;
}

.fiche_info
{
	width: 30%;
	margin-left: 5%;
	margin-bottom: 10px;
}

#contact
{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	border-top: 3px solid #0C3C60;
}

.info_contact
{
	width: 50%;
	text-align: center;
}

.horaires
{
	width: 50%;
	text-align: center;
}


/*FIN DES INFORMATIONS DU CASA*/


/*CSS DE LA PAGE QUI SOMMES NOUS*/

.titre_propos
{
	text-transform: uppercase;
	margin-left: 5%;
}

.texte_propos
{
	margin-bottom: 20px;
	margin-left: 10%;
}

.sous_titre
{
	margin-left: 10%;
}

#a_propos img
{
	margin-left: 5%;
}

.liseret
{
	width: 70%;
	margin-left: 5%;
	margin-bottom: 20px;
	border: 0.5px solid #0C3C60;
}

/*FIN DU CODE DE LA PAGE QUI SOMMES NOUS*/


/* PAGE NOS ACTIONS*/

.service_titre
{
	text-transform: uppercase;
	margin-left: 10%;
}

.service_liseret
{
	width: 70%;
	margin-left: 10%;
	margin-bottom: 20px;
	border: 0.5px solid #6EA4CA;
}

.service_texte
{
	margin-bottom: 30px;
	margin-left: 15%;
}

#service img
{
	margin-left: 20%;
	width: 60%
}

/*FIN DE PAGE NOS ACTIONS*/


/*GALERIE D'IMAGE*/

#galerie_image 
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

#galerie_image img
{
	width: 30%;
}

/*FIN DU CODE POUR LES IMAGES*/