/*#39729B*/

*
{
	margin: 0;
	padding: 0;
}

body
{
	overflow-x: hidden;
	font-family: 'dinl';
}

@font-face
{
	font-family: 'dinl';
	src: url('./font/dinl.ttf') format('truetype');
}


/*Début du code CSS pour le site du CASA*/


header
{
	position: relative;
	width: 100%;
}

.fa-facebook-square
{
	font-size: 3em;
	color: #3B5998;
}

.nav_content li
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	font-size: 1.5em;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

a
{
	text-decoration: none;
}

/*Animation pur css slidershow*/

@keyframes AutoSlide {
	0%, 10%, 100% {
		left: 0px; /*Façade*/
	}
	35%, 50% {
		left: -1024px; /*Salle de cours*/
	}
	70%, 85% {
		left: -2048px; /*Bibliothèque et carte*/
	}
}

.slideshow_image 
{
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
}

.slide_content li 
{
	display: inline;
}

.slide_content 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 450px;
	margin: 0;            
	padding: 0;
	
	/*CSS3 keyframes animation*/
	
	animation-name: AutoSlide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
